<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Eat My Movies</title>
	<link rel="stylesheet" href="~/lib/bulma/css/bulma.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/EatMyMoviesSite.styles.css" asp-append-version="true" />
	<link rel="icon" href="~/LogoDesign1.png" type="image/x-icon">

	<!-- Google Analytics Tracking Code -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-QGZDZJ5HW2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'G-QGZDZJ5HW2');
	</script>
</head>
<body class="bg mb-0">
	<header>
		<nav class="navbar header-box-shadow" role="navigation" aria-label="main navigation">
			<div class="navbar-brand has-text-centered">
				<a asp-area="" asp-controller="Home" asp-action="Index">
					<p class="logo-text">Eat My Movies</p>
				</a>
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-target">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="navbar-target" class="navbar-menu">
				<div class="navbar-end">
					<a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
					<a class="navbar-item" asp-area="" asp-controller="Home" asp-action="About">About</a>
					<a class="navbar-item" asp-area="" asp-controller="Movie" asp-action="Search">Search</a>
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-item">
							Lists
						</a>
						<div class="navbar-dropdown">
							<a class="navbar-item" asp-area="" asp-controller="List" asp-action="Top100">
								Top 100
							</a>
							<a class="navbar-item" asp-area="" asp-controller="List" asp-action="Comedies">
								Comedy
							</a>
							<a class="navbar-item" asp-area="" asp-controller="List" asp-action="ForeignFilms">
								Foreign Films
							</a>
							<a class="navbar-item" asp-area="" asp-controller="List" asp-action="Christmas">
								Christmas
							</a>
						</div>
					</div>
					@if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
					{
						<a class="navbar-item" asp-area="" asp-controller="Authentication" asp-action="Login">Login</a>
					}
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>

		<footer class="footer mt-2">
			<div class="content has-text-centered">
				<p>
					<strong>Eat My Movies</strong>. All rights reserved. <br />
					This product uses the TMDB API but is not endorsed or certified by TMDB
					<img class="tmdb-logo" src="~/TMDB_logo.svg" alt="Tmdb logo" />
				</p>
			</div>
		</footer>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
	document.addEventListener('DOMContentLoaded', () => {

		const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

		$navbarBurgers.forEach(el => {
			el.addEventListener('click', () => {

				const target = el.dataset.target;
				const $target = document.getElementById(target);

				el.classList.toggle('is-active');
				$target.classList.toggle('is-active');

			});
		});

	});
</script>