
<form method="POST" action="/Authentication/Authenticate">
	<div class="container has-text-centered">
		<h1>Login</h1>
		<div class="columns">
			<div class="column is-half is-offset-one-quarter">
				<h2>Username</h2>
				<input class="textarea" placeholder="Enter username" rows="1" name="username" />
			</div>
		</div>
		<div class="columns">
			<div class="column is-half is-offset-one-quarter">
				<h2>Password</h2>
				<input class="textarea" type="password" placeholder="Enter password" rows="1" name="password" />
			</div>
		</div>
			<button class="button rounded-button" type="submit">
				@*<i class="fa-solid fa-magnifying-glass"></i>*@
				<span>Login</span>
			</button>
		</div>
	</div>
</form>