<title>About - Eat My Movies</title>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="box has-text-centered">
                    <h1>About</h1>
                     <p>
                        Welcome to Eat My Movies - the place to discover your next cinematic obsession. By answering a few quetions we aim to find you the perfect movie for your night's viewing. Please enjoy our recommendations and have fun exploring our carefully curated lists.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> 
