<title>Contact Us</title>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="box has-text-centered">
                    <h1>Contact Us</h1>
                     <p>
                        Please reach us with any enquiries at - eatmymovies@hotmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> 
