<title>Eat My Movies - Discover Your Next Cinematic Obsession</title>
<meta name="description" content="Discover your next cinematic obsession with Eat My Movies – a curated compilation of top film rankings across diverse genres. Let our suggestions guide your movie nights and ignite your passion for storytelling. Explore a world of entertainment with random genre picks!" />

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="box has-text-centered">
                    <h1>Welcome</h1>
                    <p class="content ">
                        Discover your next cinematic obsession with Eat My Movies – a thrilling compilation of film rankings across diverse genres. Let our curated suggestions guide your movie nights and ignite your passion for unforgettable storytelling. Unleash a world of entertainment with our random genre picks!
                    </p>
                    <h2 class="subtitle">Popular lists right now</h2>
                    <div class="buttons is-centered">
                        <a class="button cool-button" asp-area="" asp-controller="List" asp-action="Top50">Top 50</a>
                        <a class="button cool-button" asp-area="" asp-controller="List" asp-action="Comedies">Comedies</a>
                        <a class="button cool-button" asp-area="" asp-controller="List" asp-action="ForeignFilms">Foreign Films</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<form method="POST" action="/Movie/Detail">
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1>
                Discover Your Next Cinematic Obsession
            </h1>
            <h2 class="subtitle">
                Explore top-ranked films, personalized movie suggestions, and soon to be in-depth reviews.
            </h2>
            <div class="field has-addons has-addons-centered">
                <div class="control">
                    <input class="input" type="text" name="title" placeholder="Search for a movie...">
                </div>
                <div class="control">
                    <button type="submit" class="button is-info">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
</form>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Eat My Movies</strong>. All rights reserved. <br />
            This product uses the TMDB API but is not endorsed or certified by TMDB
            <img class="tmdb-logo" src="~/TMDB_logo.svg" alt="Tmdb logo" />
        </p>
    </div>
</footer>
