<meta name="description" content="Discover your next cinematic obsession with Eat My Movies – a thrilling compilation of film rankings across diverse genres. Let our curated suggestions guide your movie nights and ignite your passion for unforgettable storytelling. Unleash a world of entertainment with our random genre picks!" />


<div class="columns">
	<div class="column is-half is-offset-one-quarter">
		<div class="opaque-box">
			<h1>Welcome to Eat My Movies</h1>
			<h2>Find yourself a movie <br /> Browse the best of all time</h2>
			<a asp-area="" asp-controller="List" asp-action="Top50">
				<input type="button" class="button rounded-button" value="Top 50" />
			</a>
			<h2>Checkout the Christmas list</h2>
			<a asp-area="" asp-controller="List" asp-action="Christmas">
				<input type="button" class="button rounded-button" value="Christmas" />
			</a>
		</div>
	</div>
</div>
