@page
@{
    Layout = "_Layout";
}

<title>Eat My Movies - Recommender</title>
<h1 class="logo-text">Recommender</h1>

<div id="recommenderApp" v-cloak>
    <div v-if="currentQuestionIndex < maxQuestions" class="box has-text-centered">
        <div class="question-area">
            <loading-spinner v-if="isQuestionLoading"></loading-spinner>
            <div v-else>
                <p>{{ currentQuestion }}</p>
                <div v-if="!genreSelected">
                    <button class="button is-primary" v-on:click="handleYes">Yes</button>
                    <button class="button" v-on:click="handleNo">No</button>
                </div>
                <div v-else>
                    <button class="button is-primary" v-on:click="tryAgain">Try Again</button>
                    <button class="button" v-on:click="handleNo">I don't want a {{ this.genres[this.currentQuestionIndex] }} anymore</button>
                </div>
            </div>
        </div>
    </div>

    <div v-else>
        <p>Then I'm not recommending any more films.</p>
    </div>

    <div v-if="showRecommendationBox" class="movie-area pt-3">
        <div class="box">
            <loading-spinner v-if="isMovieLoading"></loading-spinner>
            <div v-else>
                <div class="columns">
                    <div class="column is-three-fifths">
                        <h1>{{ recommendedMovie.title }}</h1>
                        <i class="tagline">{{ recommendedMovie.tagline }}</i><br />
                        <div class="columns is-mobile">
                            <div class="column">
                                <strong><u>Release Date</u></strong><br />
                                <strong>{{ recommendedMovie.releaseDate }}</strong>
                            </div>
                            <div class="column">
                                <strong><u>Genres</u></strong><br />
                                <strong v-for="genre in recommendedMovie.genres" :key="genre">{{ genre }}<br></strong>
                            </div>
                            <div class="column">
                                <strong><u>Imdb Rating</u></strong><br />
                                <strong>{{ recommendedMovie.imdbRating }}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="column is-two-fifths">
                        <img class="poster-on-detail" :src="'https://image.tmdb.org/t/p/w500' + recommendedMovie.posterPath" :alt="recommendedMovie.title + ' poster'" />
                    </div>
                </div>
                <div class="column">
                    <div class="columns is-mobile">
                        <p class="synopsis">{{ recommendedMovie.overview }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="recommendedMovie" class="columns">
            <div class="column has-text-centered trailer-container">
                <iframe class="responsive-iframe"
                        :src="recommendedMovie.trailerPath">
                </iframe>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script src="/components/loading.js"></script>
    <script>
        const { createApp } = Vue;

        createApp({
            components: {
                'loading-spinner': LoadingSpinner
            },
            data() {
                return {
                    genres: [],
                    currentQuestionIndex: 0,
                    currentQuestion: '',
                    maxQuestions: 5,
                    recommendedMovie: null,
                    chosenGenreOptions: [],
                    genreSelected: false,
                    isQuestionLoading: true,
                    isMovieLoading: false,
                    showRecommendationBox: false,
                    prompts: [
                        'Are you feeling a',
                        'Maybe it\'s the night for a',
                        'How about a',
                        'Up for a',
                        'Probably has to be a'
                    ]
                };
            },
            methods: {
                handleYes() {
                    this.showRecommendationBox = true;
                    this.isMovieLoading = true;
                    const genre = this.genres[this.currentQuestionIndex];
                    fetch(`/Movie/GetRecommendationsByGenre?genre=${genre}`)
                        .then(response => response.json())
                        .then(data => {
                            this.chosenGenreOptions = data
                            this.recommendedMovie = data[0];
                            this.isMovieLoading = false;
                            this.genreSelected = true;
                        });
                },
                handleNo() {
                    this.currentQuestionIndex++;
                    this.currentQuestion = `${this.prompts[this.currentQuestionIndex]} ${this.genres[this.currentQuestionIndex]}?`;
                    this.genreSelected = false;
                },
                tryAgain() {
                    const currentIndex = this.chosenGenreOptions.indexOf(this.recommendedMovie);
                    const nextIndex = (currentIndex + 1) % this.chosenGenreOptions.length; 
                    this.recommendedMovie = this.chosenGenreOptions[nextIndex];
                }
            },
            mounted() {
                fetch('/Movie/GetGenres')
                    .then(response => response.json())
                    .then(data => {
                        this.genres = data;
                        if (this.genres.length > 0) {
                            this.currentQuestion = `Are you feeling some ${this.genres[this.currentQuestionIndex]}?`
                            this.isQuestionLoading = false;
                        }
                    });
            },
        }).mount('#recommenderApp');
    </script>
}


<style>
    [v-cloak] {
        display: none;
    }
</style>
