
<form method="POST" action="/Movie/Detail">
<div class="container has-text-centered">
	<h1>Movie Search</h1>
	<div class="columns mt-2">
		<div class="column is-three-quarters">
			<input class="textarea" placeholder="Enter movie title" rows="1" name="title"/>
		</div>
		<div class="column is-one-quarter">
			<button class="button cool-button" type="submit">
				@*<i class="fa-solid fa-magnifying-glass"></i>*@
				<span>Search</span>
			</button>
		</div>
	</div>
</div>
</form>