<div id="searchApp">
    <h1 class="has-text-centered">Movie Search</h1>

    <!-- Search Input + Dropdown -->
    <div class="field mt-5">
        <p class="control">
            <input class="input" placeholder="Enter title..." v-model="searchQuery">
        </p>

        <!-- Dropdown Results attached to input -->
        <div class="dropdown" :class="{ 'is-active': searchResults.length > 0 }" v-if="searchResults.length > 0">
            <div class="dropdown-menu">
                <div class="dropdown-content">
                    <a v-for="(movie, index) in searchResults" :key="index" class="dropdown-item" v-on:click="selectMovie(movie)">
                        <img :src="'https://image.tmdb.org/t/p/w92' + movie.posterPath" :alt="movie.title + ' poster'" class="mr-2">
                        {{ movie.title }}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Toggle -->
    <div class="field is-flex is-justify-content-center">
        <div class="control" style="width: 25%;">
            <div class="select" style="width: 100%;">
                <select v-model="searchType">
                    <option value="movie">Movies</option>
                    <option value="tv">TV Series</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Search Button -->
    <div class="field is-flex is-justify-content-center">
        <div class="control" style="width: 25%;">
            <button class="button is-primary is-fullwidth" v-on:click="handleSearch">
                Search
            </button>
        </div>
    </div>
</div>






@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    searchQuery: '',
                    searchResults: [],
                    searchSelected: false,
                    selectedMovie: null,
                    searchType: 'movie', // default selection
                };
            },
            watch: {
                searchQuery(newQuery) {
                    if (newQuery.length > 0 && !this.searchSelected) {
                        this.performSearch();
                    } else {
                        this.searchResults = [];
                    }
                }
            },
            methods: {
                performSearch() {
                    fetch(`/Movie/SearchByTitle?titleSearch=${encodeURIComponent(this.searchQuery)}&type=${this.searchType}`)
                        .then(response => response.json())
                        .then(data => {
                            this.searchResults = data;
                        })
                        .catch(() => {
                            this.searchResults = [];
                        });
                },
                handleSearch() {
                    window.location.href = `/${this.searchType === 'movie' ? 'Movie' : 'TV'}/Detail?title=${encodeURIComponent(this.searchQuery)}`;
                },

                selectMovie(movie) {
                    window.location.href = `/${this.searchType === 'movie' ? 'Movie' : 'TV'}/Detail?title=${encodeURIComponent(this.searchQuery)}&tmdbId=${movie.id}`;
                }
            }
        }).mount('#searchApp');
    </script>
}

<style>
    .dropdown-poster {
        width: 40px; /* Adjust size as needed */
        height: auto;
        margin-right: 10px; /* Space between poster and title */
        vertical-align: middle;
    }

    .dropdown-title {
        vertical-align: middle; /* Align text with the poster */
    }
</style>

