@page
@{
	Layout = "_Layout";
}

<meta name="description" content="Search for movies with Eat My Movies – your ultimate destination for discovering films across all genres. Find detailed information, ratings, and personalized recommendations to enhance your movie-watching experience. Start your search now!" />
<title>Eat My Movies - Search</title>

<form method="POST" action="/Movie/Detail">
<div class="container has-text-centered">
	<h1>Movie Search</h1>
	<div class="columns mt-2">
		<div class="column is-three-quarters">
			<input class="textarea" placeholder="Enter movie title" rows="1" name="title"/>
		</div>
		<div class="column is-one-quarter">
			<button class="button cool-button m-0" type="submit">
				<span>Search</span>
			</button>
		</div>
	</div>

	Message from vue: <span v-text="appMessage"></span><br />
</div>
</form>


