@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    h1 {
        font-size: 4vw;
    }
    h3{
        font-size: 6vw;
    }
    .logo-text {
        font-size: 40px;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 10vw;
    }

    h3{
        margin: 15px;
    }

    .rounded-button {
        margin: 15px;
    }

    .opaque-box {
        width:fit-content;
        margin: auto;
    }
    .container {
        padding: 16px;
    }

    .logo-text {
        font-size: 30px;
    }

}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.detail-background {
    background-size: auto 200px;
    background-repeat: no-repeat;
    background-position: center center
}

.red-backlit-button {
    color: white;
    padding: calc(0.75em - 1px);
    margin: 0.5em;
    background: #e71837;
    box-shadow: 0px 0px 16px white;
    cursor: pointer;
    font-size: inherit;
}

.movie-title {
    color: #003049;
    font-family: 'Malgun Gothic';
    font-weight: bold;
}

.poster {
    width: auto;
    height: auto;
    border: 2px solid #898989;
    border-radius: 7px;
}

.poster-on-detail {
    max-width: 154px;
}

.bg {
    /*background-image: url('../../../movie-theater.jpg');*/
    background-color: #FDF0D5;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

h1 {
    font-family: 'Bangers', cursive;
    color: #e71837;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    line-height: 1;
    /*text-shadow: 2px 2px 0px #898989;*/
    text-shadow: 0 1px 0px #CCCCCC, 1px 0 0px #EEEEEE, 1px 2px 0px #CCCCCC, 2px 1px 0px #EEEEEE, 2px 3px 0px #CCCCCC, 3px 2px 0px #EEEEEE, 3px 4px 0px #CCCCCC;
    padding-bottom: 10px;
}

h2 {
    color: #003049;
    font-size: 24px;
    font-weight: 600;
}

h3 {
    color: white;
    font-size: 20px;
    margin: 10px;
}

p {
    color: #003049;
    font-size: 18px;
}

.tagline {
    color: #003049;
    font-family: 'Malgun Gothic';
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
}

.release-date {
    color: #003049;
    font-family: 'Malgun Gothic';
    font-size: 1em;
    font-weight: bold;
}

.opaque-box {
    /*background: rgba(0, 0, 0, 0.8);*/
    padding: 1.5em;
    text-align: center;
    /*width: fit-content;*/
}


.trailer-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin-top: 5%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.header-box-shadow {
    box-shadow: 0 1px 10px #e71837
}

.logo-text {
    font-family: 'Bangers', cursive;
    color: #e71837;
    letter-spacing: 2px;
    font-weight: 800;
    text-shadow: 0 1px 0px #CCCCCC, 1px 0 0px #EEEEEE, 1px 2px 0px #CCCCCC, 2px 1px 0px #EEEEEE, 2px 3px 0px #CCCCCC, 3px 2px 0px #EEEEEE, 3px 4px 0px #CCCCCC;
    padding: 10px;
    margin: 0 auto;
}

/* Button*/

.cool-button {
    color: white;
    background: linear-gradient(45deg, #e71837, #ff6f61);
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 0;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 10px; /* Add padding */
    margin: 10px; /* Add margin for spacing */
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.cool-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 10%, transparent 10%);
    transition: all 0.75s;
    transform: translateX(-50%) scale(0.5);
    opacity: 0;
}

.cool-button:hover:before {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}

.cool-button:hover {
    background: linear-gradient(45deg, #ff6f61, #e71837);
    box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.7);
    border-color: white;
    transform: scale(1.05); /* Slightly increase size on hover */
}

.cool-button:active {
    background: linear-gradient(45deg, #e71837, #d0162f);
    box-shadow: 0px 0px 32px rgba(255, 255, 255, 0.9);
}

.cool-button span {
    display: block;
    position: relative;
    z-index: 2;
}

.synopsis {
    text-align: justify;
}

.synopsis.desktop-only {
    display: block;
}

.synopsis.mobile-only {
    display: none;
}

@media (max-width: 768px) {
    .synopsis.desktop-only {
        display: none;
    }

    .synopsis.mobile-only {
        display: block;
    }
}

.find-out-more {
    display: inline-block;
    margin-top: 10px;
    color: #3273dc; /* Bulma primary color */
    text-decoration: none;
    font-weight: bold;
}

.find-out-more:hover {
    text-decoration: underline;
}

.movie-block {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    margin-top: 1rem;
    padding-top: 1rem;
}

.tmdb-logo {
    height: 15px;
}
